@charset "UTF-8";
body, html {
  z-index: -1;
  height: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  position: relative;
  background-color: #333333;
  color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* RESPONSYWNOŚĆ, DODAWAJ DO <img> */
.responsive {
  max-width: 100%;
  height: auto;
}

.section {
  width: 100%;
  height: 100%;
}

.tortilla {
  width: 100%;
  height: 90%;
  position: relative;
  top: 5%;
}

.taco {
  position: absolute;
  transform: translateY(-50%);
  height: auto;
  vertical-align: middle;
}
.taco h1 {
  color: #00ffff;
}
.taco a:link {
  color: #00ffff;
  text-decoration: underline;
}
.taco a:visited {
  color: #00ffff;
  text-decoration: underline;
}

.back {
  position: absolute;
  background-color: #1a1a1a;
  height: 70%;
  width: 80%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 45%;
}

/* PANEL NAWIGACYJNY */
.mcwrap {
  height: 100%;
  display: flex;
  position: relative;
  /* ZAWARTOŚĆ */
}
.mcwrap #panel {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #1a1a1a;
  padding: 3% 0;
  text-align: center;
  color: #cccccc;
}
.mcwrap #panel a:link {
  color: #cccccc;
}
.mcwrap #panel a:visited {
  color: #cccccc;
}
.mcwrap #panel .main {
  width: 55%;
  border-radius: 50%;
}
.mcwrap #panel h1 {
  font-size: 28px;
  margin-top: 5%;
}
.mcwrap #panel h2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10%;
}
.mcwrap #panel h3 {
  width: 100%;
  font-size: 10px;
  font-weight: 300;
  position: absolute;
  bottom: 1%;
  text-align: center;
}
.mcwrap #panel ul li div {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 14px;
  width: auto;
  display: inline-block;
}
.mcwrap #panel ul li div:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 0.4s;
}
.mcwrap #panel ul li div a:hover {
  color: #f2f2f2 !important;
  transition-duration: 0.4s;
}
.mcwrap #panel ul li div a:link {
  color: #cccccc;
}
.mcwrap #panel ul li div a:visited {
  color: #cccccc;
}
.mcwrap #panel .icon {
  font-size: 26px;
}
.mcwrap #content {
  height: 100%;
  width: 100%;
  margin-left: 15%;
  font-size: 16px;
  /* ODSTĘP POMIĘDZY SEKCJAMI */
  /* START */
  /* ME */
  /* EDUCATION */
  /* SKILLS */
  /* EXPERIENCE */
  /* CONTACT */
}
.mcwrap #content .divider {
  height: 40%;
  width: 100%;
  background-color: #333333;
}
.mcwrap #content #start {
  background-image: url(img/background.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.mcwrap #content #start .text {
  position: absolute;
  top: 50%;
  left: 55%;
}
.mcwrap #content #start .text h1 {
  color: white;
}
.mcwrap #content #meSection .me .text {
  left: 10%;
  top: 50%;
  width: 30%;
}
.mcwrap #content #meSection .me .graphics {
  right: 5%;
  top: 50%;
  width: 50%;
}
.mcwrap #content #educationSection .education .graphics {
  left: 10%;
  top: 50%;
  width: 30%;
}
.mcwrap #content #educationSection .education .text {
  right: 20%;
  top: 50%;
  width: 30%;
}
.mcwrap #content #skillsSection .skills .graphics {
  right: 20%;
  top: 50%;
  width: 25%;
}
.mcwrap #content #skillsSection .skills .text {
  left: 10%;
  top: 50%;
  width: 40%;
}
.mcwrap #content #skillsSection .skills .text .container {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 2%;
}
.mcwrap #content #skillsSection .skills .text .container .skills {
  text-align: right;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #1a1a1a;
}
.mcwrap #content #skillsSection .skills .text .container .html {
  width: 90%;
  background-color: orangered;
}
.mcwrap #content #skillsSection .skills .text .container .css {
  width: 80%;
  background-color: #2196F3;
}
.mcwrap #content #skillsSection .skills .text .container .js {
  width: 50%;
  background-color: orange;
}
.mcwrap #content #skillsSection .skills .text .container .premiere {
  width: 75%;
  background-color: rebeccapurple;
}
.mcwrap #content #experienceSection .experience .text {
  left: 10%;
  top: 50%;
  width: 30%;
}
.mcwrap #content #experienceSection .experience .graphics {
  right: 20%;
  top: 50%;
  width: 30%;
  height: 50%;
}
.mcwrap #content #experienceSection .experience .graphics div {
  width: 100%;
  height: 75%;
}
.mcwrap #content #experienceSection .experience .graphics div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mcwrap #content #experienceSection .experience .graphics div img:hover {
  -webkit-filter: brightness(110%);
  transition-duration: 0.4s;
}
.mcwrap #content #contactSection .contact .text {
  left: 10%;
  top: 50%;
  width: 35%;
}
.mcwrap #content #contactSection .contact .text .contactForm {
  padding-top: 5%;
}
.mcwrap #content #contactSection .contact .text .contactForm .text h1 {
  color: #00ffff;
}
.mcwrap #content #contactSection .contact .text .contactForm #contactForm input {
  height: 40px;
}
.mcwrap #content #contactSection .contact .text .contactForm #contactForm .formControl {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #333333;
  color: #a6a6a6;
}
.mcwrap #content #contactSection .contact .text .contactForm #contactForm textarea {
  height: 100px;
  font-family: "Lato", sans-serif;
  margin-top: 3%;
}
.mcwrap #content #contactSection .contact .text .contactForm #contactForm .submit {
  width: 20%;
  min-width: 80px;
  margin: 10px 0 10px 0;
  color: #00ffff;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #333333;
}
.mcwrap #content #contactSection .contact .text .contactForm #contactForm .submit:hover {
  cursor: pointer;
  border: 2px solid #00ffff;
  transition: 2s;
}
.mcwrap #content #contactSection .contact .graphics {
  right: 20%;
  top: 50%;
  width: 30%;
}

/* TELEFONY */
@media only screen and (max-width: 600px) {
  .mcwrap {
    display: inline;
  }
  .mcwrap .panel {
    width: 100%;
    position: relative;
  }
  .mcwrap .panel .main {
    width: 45%;
  }
  .mcwrap .panel h1 {
    margin-top: 2%;
  }
  .mcwrap .panel h2 {
    margin-bottom: 4%;
  }
  .mcwrap .panel h3 {
    position: fixed;
  }
  .mcwrap .content {
    width: 100%;
    position: relative;
    margin-left: 0;
  }
  .mcwrap .content .divider {
    height: 10%;
  }
}
/* TABLETY */
@media only screen and (max-width: 920px) {
  .container {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
  }

  .back {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .taco {
    position: static;
    float: left;
    transform: none;
  }

  .mcwrap .panel h3 {
    position: absolute;
  }
  .mcwrap .content .divider {
    height: 30%;
    width: 100%;
    background-color: #333333;
  }
  .mcwrap .content #meSection .me .text {
    width: 80%;
    margin: 5% 10%;
  }
  .mcwrap .content #meSection .me .graphics {
    width: 80%;
    margin-left: 10%;
  }
  .mcwrap .content #educationSection .education .graphics {
    height: 30%;
    width: 80%;
    margin: 5% 0 3% 10%;
  }
  .mcwrap .content #educationSection .education .graphics img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .mcwrap .content #educationSection .education .text {
    width: 80%;
    margin-left: 10%;
  }
  .mcwrap .content #skillsSection .skills .text {
    width: 80%;
    margin-left: 10%;
  }
  .mcwrap .content #skillsSection .skills .graphics {
    height: 30%;
    width: 80%;
    margin: 5% 0 0 10%;
  }
  .mcwrap .content #skillsSection .skills .graphics img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .mcwrap .content #experienceSection .experience .text {
    width: 80%;
    margin: 5% 0 0 10%;
  }
  .mcwrap .content #experienceSection .experience .graphics {
    width: 80%;
    margin: 5% 0 0 10%;
  }
  .mcwrap .content #contactSection .contact .text {
    width: 80%;
    margin-left: 10%;
  }
  .mcwrap .content #contactSection .contact .graphics {
    width: 80%;
    margin-left: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
