$background-color: #333333;
$section-color: rgb(26, 26, 26);
$text-color: #f2f2f2;
$panel-text-color: #cccccc;
$accent: #00ffff;

body, html {
    z-index: -1;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    position: relative;
    background-color: $background-color;
    color: $text-color;
}

.active {
    color: black !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* RESPONSYWNOŚĆ, DODAWAJ DO <img> */
.responsive {
    max-width: 100%;
    height: auto;
}

.section {
    width: 100%;
    height: 100%;
}

.tortilla {
    width: 100%;
    height: 90%;
    position: relative;
    top: 5%;
}

.taco {
    position: absolute;
    transform: translateY(-50%);
    height: auto;
    vertical-align: middle;
    h1 {color: $accent;}
    a {
        &:link {
            color: $accent;
            text-decoration: underline;
        }
        &:visited {
            color: $accent;
            text-decoration: underline;
        }
    }
}

.back {
    position: absolute;
    background-color: $section-color;
    height: 70%;
    width: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
}

h1 {
    font-size: 40px;
}

/* WRAPPER */
.mcwrap {
    height: 100%;
    display: flex;
    position: relative;
    /* PANEL NAWIGACYJNY (LEWY BLOK) */
    .panel {
        position: fixed;
        width: 15%;
        height: 100%;
        background-color: $section-color;
        padding: 3% 0;
        text-align: center;
        color: $panel-text-color;
        &__photo {
            width: 60%;
            border-radius: 50%;
        }
        &__name {
            font-size: 28px;
            margin-top: 5%;
        }
        &__title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 10%;
        }
        &__nav {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 3px;
            margin-top: 14px;
            width: auto;
            display: inline-block;
            &:hover {
                transform: scale(1.2, 1.2);
                transition-duration: 0.4s;
            }
        }
        &__icon {font-size: 30px;}  
        &__footer {
            width: 100%;
            font-size: 12px;
            font-weight: 300;
            position: absolute;
            bottom: 1%;
            text-align: center;
        }
        &--link {
            &:link {color: $panel-text-color;}
            &:visited {color: $panel-text-color;}
        }
        &--link-brighten {
            &:hover {color: $text-color !important; transition-duration: 0.4s;}
        }     
    }

    /* ZAWARTOŚĆ (PRAWY BLOK) */
    .content {
        height: 100%;
        width: 100%;
        margin-left: 15%;
        font-size: 16px;
        /* ODSTĘP POMIĘDZY SEKCJAMI */
        &__divider {
            height: 40%;
            width: 100%;
            background-color: $background-color;
        }

        /* START */
        .start {
            background-image: url(../img/build.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
            background-attachment: fixed;
            .text {
                position: absolute;
                top: 50%;
                left: 55%;
                h1 {color: white;}
            }
        }

        /* ME */
        .meSection {
            .me {
                .text {
                    left: 10%;
                    top: 50%;
                    width: 30%;
                }
                .graphics {
                    right: 5%;
                    top: 50%;
                    width: 50%;
                }
            }
        }

        /* EDUCATION */
        .educationSection {
            .education {
                .graphics {
                    left: 10%;
                    top: 50%;
                    width: 30%;
                }
                .text {
                    right: 20%;
                    top: 50%;
                    width: 30%;
                }
            }
        }

        /* SKILLS */
        .skillsSection {
            .skills {
                .graphics {
                    right: 20%;
                    top: 50%;
                    width: 25%;
                }
                .text {
                    left: 10%;
                    top: 50%;
                    width: 40%;
                    .tech {
                        width: 100px;
                        margin-right: 5%;
                        vertical-align: middle;
                    }
                }
            }
        }

        /* EXPERIENCE */
        .experienceSection {
            .experience {
                .text {
                    left: 10%;
                    top: 50%;
                    width: 30%;
                }
                .graphics {
                    right: 20%;
                    top: 50%;
                    width: 30%;
                    height: 50%;
                    div {
                        width: 100%;
                        height: 75%;                            
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            &:hover {
                                -webkit-filter: brightness(110%);
                                filter: brightness(110%);
                                transition-duration: 0.4s;
                            }
                        }
                    }
                }
            }
        }

        /* CONTACT */
        .contactSection {
            .contact {
                .text {
                    left: 10%;
                    top: 50%;
                    width: 35%;
                    .contactForm {
                        padding-top: 5%;
                        .text {
                            h1 {color:$accent;}
                        }
                        #contactForm {
                            input {height: 40px;}
                            .formControl {
                                width: 100%;
                                background: transparent;
                                outline: none;
                                border: none;
                                border-bottom: 2px solid $background-color;
                                color: #a6a6a6;
                            }
                            textarea {
                                height: 100px;
                                font-family: 'Lato', sans-serif;
                                margin-top: 3%;
                            }
                            .submit {
                                width: 20%;
                                min-width: 80px;
                                margin: 10px 0 10px 0;
                                color: $accent;
                                font-weight: bold;
                                letter-spacing: 2px;
                                border: 2px solid $background-color;
                                &:hover {
                                    cursor: pointer;
                                    border: 2px solid $accent;
                                    transition: 2s;
                                }
                            }
                        }
                    }
                }
                .graphics {
                    right: 20%;
                    top: 50%;
                    width: 30%;
                }
            }
        }
    }
}

/* TELEFONY */
@media only screen and (max-width: 600px) {
    .mcwrap {
        display: inline;
        .panel {
            width: 100%;
            position: relative;
            &__photo { width: 45%; }
            &__name { margin-top: 2%; }
            &__title { margin-bottom: 4%; }
            &__footer { position: fixed; }
        }
        .content {
            width: 100%;
            position: relative;
            margin-left: 0;
            &__divider {height: 10%;}
        }
    }
}

/* TABLETY */
@media only screen and (max-width: 920px) {
    .container {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }
    .back {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 90%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .taco {
        position: static;
        float: left;
        transform: none;
    }
    .mcwrap {
        .panel {
            &__footer {position: absolute;}
        }
        .content {
            &__divider {
                height: 40%;
                width: 100%;
                background-color: $background-color;
            }
            .meSection {
                .me {
                    .text {
                        width: 80%;
                        margin: 5% 10%;
                    }
                    .graphics {
                        width: 80%;
                        margin-left: 10%;
                    }
                }
            }
            .educationSection {
                .education {
                    .graphics {
                        height: 30%;
                        width: 80%;
                        margin: 5% 0 3% 10%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .text {
                        width: 80%;
                        margin-left: 10%;
                    }
                }
            }
            .skillsSection {
                .skills {
                    .text {
                        width: 80%;
                        margin-left: 10%;
                    }
                    .graphics {
                        height: 30%;
                        width: 80%;
                        margin: 5% 0 0 10%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .experienceSection {
                .experience {
                    .text {
                        width: 80%;
                        margin: 5% 0 0 10%;
                    }
                    .graphics {
                        width: 80%;
                        margin: 5% 0 0 10%;
                    }
                }
            }
            .contactSection {
                .contact {
                    .text {
                        width: 80%;
                        margin-left: 10%;
                    }
                    .graphics {
                        width: 80%;
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}